.new-mail{
    background-color:#e81c7b;
    color: $color2;
    text-align: center;
    @include size(20px, 20px);
    border-radius: 50%;
    position: relative;
    left: 25px;
    top: 20px;
    font-size: 15px;
}


.products-history{
    background-color: #B2D4D3;
    padding-bottom: 45px;

    .products{
        display: flex;
        flex-wrap: wrap;

        div{
            @include size (260px, 90px);
            background-color:$color2;
            margin: 3px;
            position: relative;
            div{
                @include size(40px, 40px);
                background-size: contain;
                float: left;
                margin: 20px 10px 0 40px;
            }
            p{
                margin-top: 20px;
            }
        }
        .Wallet div{
                background-image: url(../img/wallet.svg);
            }
        .Deposits div{
                background-image: url(../img/piggy-bank.svg);                
            }
        .Accounts div{
                background-image: url(../img/money.svg);
            }
        .Funds div{
                background-image: url(../img/bar-chart.svg);
            }
        .Bank_loans {
            background-color:$color1;
            div{
                background-color:$color1;
                background-image: url(../img/finger.svg);
            }  
        }   
    }
    .history{
        width: 100%;
        background-color: $color2;
    }
}
.history{
    overflow: scroll;
    overflow-x:hidden;
    max-height: 400px;
    padding: 5px;
    border-radius: 5px;
    &::-webkit-scrollbar-track {
        background-color: $color3;
    }

    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $color1;
    }

    .step{
        border-bottom: solid 1px $color3;
        padding: 10px 0;

    }
    .currency{
        text-align: right;
    }
    span{

        font-weight: bold;
    }
    .income span{
        color: $color5;
    }
    .outcome span:before{
        content: "- ";
    }
    
}

