.dashboard-finance-life_chart{   
     padding-top: 65px;
     background-color: #B2D4D3  ;
     p {
         font-size: 30px;
         span {
             font-weight: bold;
         }
     }
     .scheduled-payments {
        /* display: flex;
         flex-direction: column;
         flex-wrap: wrap; 
         justify-content: flex-end; that not works*/
         margin-top: 75px;
    
     }
     .btn {
         width: 30px;
         height: 25px;
         padding: 4px;
         margin-left: 5px;
         background-color:$color1;
         color: $color2;
         font-size: 20px;
         text-transform: uppercase;
         border-radius: 3px;
     }
     .add-btn, .analisis-btn{
         text-align: right;
         margin-top: 35px;
         p{
             font-size: 20px;
             display: inline;
         }
     }
     .analisis-btn button {
         padding: 8px;
         margin-right: -5px;

         border: solid 4px $color2;
         &:nth-child(2){
            background-color:$color3;
            margin-left: 5px;
         }
         &:nth-child(3){
            background-color:$color2;
         }
     }

     .chart{
         padding-bottom: 25px;
         img{
            display: block;
            margin: auto;
            border-radius: 5px;
         }
     }

}
